.btn {
  color: black;
  background-color: rgb(212, 212, 212);
  border: none;
  outline: none;
  padding: 1.2rem 2rem;
  cursor: pointer;
  user-select: none;
}

.btn:focus {
  background-color: rgb(115, 255, 0);
  transition: background 0s;
}
